/* home page social media icons //////////////////////////////*/
a {
    color: #2790C3;
    text-decoration: none; 
}

.icons {
    margin-top: 1rem; 
}

.icons a {
    padding: 0.4rem; 
}

.icons a:hover {
    color: #9F2420;
    transition: all 0.5s ease-out; 
}