* {
    box-sizing: border-box;
}

/* .debug {
    border: 1px solid red;
} */

body {
    font-family: 'Kosugi', sans-serif;
    /* width: 100%; */
    /* background-image: linear-gradient(to bottom, rgb(0, 150, 214), #7BD1EE); */
    /* background: #000; */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0), rgb(255, 255, 255)); */
}

/* top box //////////////////////////////////////////////////*/
.topBox {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    margin: 20px auto;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgb(255, 255, 255));
    border-radius: 12px;
}

.topBoxText {
    display: flex;
    justify-content: center;
    margin: 1px;
    height: 70px;
    /* align-content: center; */
    flex-direction: row;
    flex: 1;
    font-size: 60px;
    margin-top: 10px;
    font-family: "Plane Crash";
    align-items: center;
    /* background-image: linear-gradient(to bottom, rgba(0, 14, 20, 0.8), rgb(255, 255, 255)); */
    /* margin: 5px auto; */
}

/* Price CARDS HOME PAGE/////////////////////////////////////*/
.cards {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
.card {
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.3);
    height: 500px;
    max-width: 300px;
    margin: 15px;
    text-align: center;
    font-family: arial;
    /* background-image: linear-gradient(to bottom, rgb(0, 150, 214), #7BD1EE); */
    background: #fff;
    /* background-color: #0069B1; */
    border-radius: 12px;
    border: 1px solid #fff;
  }
  
/* h1 */
.card h1 {
    color: #000;
    background-color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 14, 20, 0.8), rgb(255, 255, 255));
    margin: 10px 20px 10px 20px;
    border-radius: 12px;
    font-size: 20px;
}
  
/* price */  
.price {
  color: #fff;
  font-size: 28px;
  background: #000;
  margin: 0 50px 0 50px;
  border-radius: 12px;
}
  
/* button */  
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  background-image: linear-gradient(to bottom, rgba(0, 14, 20, 0.8), rgb(255, 255, 255));
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 12px;
}
  
/* on hover button */  
.card button:hover {
  /* opacity: 0.7; */
  color: #000;
  background-color: #fff;
  font-weight: bold;
}
  
/* card image */
.card img {
    width: 100%;
    height: 350px;
    border-radius: 12px;
}
    
/* movieinfo text */
.movieInfo {
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
}

/* The sidebar menu /////////////////////////////////////////////////////////////*/
.sidenav {
  /* Full-height: remove this if you want "auto" height */
  height: 100%; 
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 130px; /* position from top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-radius:0 12px;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  /* padding: 0px 10px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* sidebar buttons //////////////////////////////////////////////////////////////////*/

/* Style the tab */
.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 160px;
  /* height: 300px; */
  /* margin-left: 20px; */
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
/* .tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
} */