* {
    box-sizing: border-box;
}

/* .debug {
    border: 1px solid red;
} */

body {
    font-family: 'Kosugi', sans-serif;
}

/* Price CARDS MOVIES PAGE/////////////////////////////////////*/
.cards {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;

  }
  
.card {
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.2);
    height: 400px;
    max-width: 300px;
    margin: 30px;
    text-align: center;
    font-family: arial;
    /* background-image: linear-gradient(to bottom, rgb(0, 150, 214), #7BD1EE); */
    background: #ddd;
    /* background-color: #0069B1; */
    border-radius: 12px;
    /* border: 1px solid #9F2420; */
  }
  
/* h1 */
.card h1 {
    color: #000;
    font-family: "Avengeance Mightiest Avenger";
    /* text-shadow: 1px 1px #000; */
    /* background-color: #000; */
    /* background-image: linear-gradient(to bottom, rgba(0, 14, 20, 0.8), rgb(255, 255, 255)); */
    margin: 10px 20px 10px 20px;
    border-radius: 12px;
    font-size: 20px;
}

/* h1 info info page*/
#movieinfoHeader1 {
  color: #9F2420;
  font-family: "Avengeance Mightiest Avenger";
  /* text-shadow: 1px 1px #000; */
  /* background-color: #000; */
  /* background-image: linear-gradient(to bottom, rgba(0, 14, 20, 0.8), rgb(255, 255, 255)); */
  margin: 10px 20px 10px 20px;
  border-radius: 12px;
  font-size: 30px;
}

/* h1 movie name info page*/
#movieinfoHeader2 {
  color: #9F2420;
  font-family: "Avengeance Mightiest Avenger";
  /* text-shadow: 1px 1px #000; */
  /* background-color: #000; */
  /* background-image: linear-gradient(to bottom, rgba(0, 14, 20, 0.8), rgb(255, 255, 255)); */
  margin: 10px 20px 10px 20px;
  border-radius: 12px;
  font-size: 30px;
}
  
/* price */  
.price {
  color: #fff;
  font-size: 28px;
  background: #252A2B;
  margin: 0 90px 0 90px;
  border-radius: 12px;
}
  
/* button */  
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #9F2420;
  /* background-image: linear-gradient(to bottom, rgba(0, 14, 20, 0.8), rgb(255, 255, 255)); */
  text-align: center;
  cursor: pointer;
  width: 70%;
  font-size: 18px;
  border-radius: 12px;
}
  
/* on hover button */  
.card button:hover {
  /* opacity: 0.7; */
  color: #fff;
  background-color: #9F2420;
  opacity: 0.8;
  font-weight: bold;
}
  
/* card image */
.card img {
    width: 100%;
    height: 350px;
    height: 100%;
    border-radius: 12px;
}

/* CART PAGE /////////////////////////////////////////////*/
.cardCart {
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.2);
    height: 550px;
    max-width: 300px;
    margin: 30px;
    text-align: center;
    font-family: arial;
    /* background-image: linear-gradient(to bottom, rgb(0, 150, 214), #7BD1EE); */
    background: #ddd;
    /* background-color: #0069B1; */
    border-radius: 12px;
    /* border: 1px solid #9F2420; */
}
  
.cardCart h1 {
    color: #000;
    font-family: "Avengeance Mightiest Avenger";
    /* text-shadow: 1px 1px #000; */
    /* background-color: #000; */
    /* background-image: linear-gradient(to bottom, rgba(0, 14, 20, 0.8), rgb(255, 255, 255)); */
    margin: 10px 20px 10px 20px;
    border-radius: 12px;
    font-size: 20px;
}
  
.cardCart button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #9F2420;
    /* background-image: linear-gradient(to bottom, rgba(0, 14, 20, 0.8), rgb(255, 255, 255)); */
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 18px;
    border-radius: 12px;
}
  
/* card image */
  .cardCart img {
    width: 100%;
    height: 400px;
    /* height: 100%; */
    border-radius: 12px;
}
    
/* The sidebar menu /////////////////////////////////////////////////////////////*/
.sidenav {
    /* Full-height: remove this if you want "auto" height */
    height: 100%; 
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 130px; /* position from top */
    bottom: 100px;
    left: 20px;
    background-color: #fff; /* light Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-radius:0 12px;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    /* padding: 0px 10px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* sidebar buttons //////////////////////////////////////////////////////////////////*/

/* Style the tab */
.tab {
    border: 1px solid #9F2420;
    background-color: #f1f1f1;
    width: 160px;
    border-radius: 1px;
    /* height: 300px; */
    /* margin-left: 20px; */
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    font-family: "Avengeance Mightiest Avenger";
    /* border: 1px solid red; */
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #9F2420;
    color: #fff;
}

/* Style the tab content */
  /* .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
} */



/* IMAGE ///////////////////////////////////////////////*/
.container {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle a {
  text-decoration: none;
}

.container:hover .image {
    opacity: 0.45;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #9F2420;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 12px;
}