* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.register-form {
    max-width: 400px;
    margin: 30px auto;
    padding: 10px 20px;
    /* background-image: linear-gradient(to bottom, rgb(0, 150, 214), #7BD1EE); */
    background: #ddd;
    border-radius: 8px;
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.2);
    border: 3px solid #9F2420;
  }

.register-form h2 {
  color: #000;
}  

/* Style the input container */
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background-color: #9F2420;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 1px solid #9F2420;
}

/* Style the select field Country */
select {
    width: 100%;
    padding: 10px;
  }
  
select:focus {
    border: 2px solid #9F2420;
  }



/* Set a style for the submit button */
.btn {
  background-color: #000;
  color: white;
  padding: 15px 20px;
  margin: 5px auto;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  opacity: 0.8;
}

/* ADD MOVIE PAGE //////////////////////////////*/
.register-form p {
  color: #9F2420;
  font-family: "Avengeance Mightiest Avenger";
  margin-bottom: 1px;
  margin-top: 10px;
  
}

#addGif {
  justify-content: center;
  align-items: center;
  background-image: url(../img/gif_12.gif);
  background-position: center;
  /* background-attachment: fixed; */
  background-size: cover;
}


/* GIF //////////////////////////////////////*/
.flexContainer2 {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  /* height: 100vh; */
}


.brandingText2 { 
  /* display: flex;
  flex: 1; */
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  text-shadow: 0 0 10px #000;
  background-image: url(../img/pointing_gif.gif);
  background-position: center;
  /* background-attachment: fixed; */
  background-size: cover;
  margin: 200px 300px 210px 100px;
  margin: 205px 300px 210px 329px;
  min-width: 100px;
  min-height: 200px;
  font-family: "Avengeance Mightiest Avenger";
  padding: 15px;
}