* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(../img/background_2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* .debug {
    border: 1px solid red;
} */

/* FLex box ///////////////////////////////////////////*/
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* height: 100vh; */
}


.brandingText { 
    /* display: flex;
    flex: 1; */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    text-shadow: 0 0 10px #000;
    background-image: url(../img/gif_7.gif);
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
    line-height: 1;
    margin: 205px 300px 210px 329px;
    min-width: 600px;
    min-height: 250px;
    font-family: "Avengeance Mightiest Avenger";
    padding: 15px;
}

/* LOGIN BUTTON ////////////////////////////////////////////////////////////*/
.loginButton {
    position: absolute;
    left: 35px;
    top: 20px;
    cursor: pointer; /* cursor = pointer on menu button */
}

/* Set a style for all buttons */
.loginButton button {
    background-color: #9F2420;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 12px;
    font-family: 'Kosugi', sans-serif;
    font-weight: 700;
    font-size: 16px;
    /* border: 1px solid #fff; */
}
  
.loginButton button:hover {
    color: #fff;
    /* background: ; */
    opacity:1;
}


/* twinkling stars homepage */
.twinkling4 {
    position: absolute;
    top:0;
    left:350px;
    right:100px;
    width:50%;
    height:70px;
    display:block;
}

.twinkling4 {
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png); 
    z-index:1;

    -moz-animation:move-twink-back 150s linear infinite;
    animation:move-twink-back 150s linear infinite;
}

@keyframes move-twink-back {
    from {background-position: 5000 5000;}
    to {background-position: -10000px 5000px;}
}

